# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments and Secrets
.env
.secret
secrets.json

# IDEs and Editors
.vscode/
.idea/
.DS_Store
Thumbs.db

# Saved coordinate database (local user data)
/data/locations.sqlite3*
